.stCheckbox {
    position: relative;
}

[class="st-emotion-cache-bm8b7r ef3psqc13"]{
    background-color: transparent;
    border: none;
    color : #414141;
    cursor: pointer;
    border-radius: 5px;
}
[class="st-emotion-cache-bm8b7r ef3psqc13"]:hover {
    background-color: transparent;
    color : #f84b4b;
    border: none;
    transform: scale(1.3);
}
[class="st-emotion-cache-bm8b7r ef3psqc13"]:active {
    border: none;
}

[class="st-emotion-cache-bm8b7r ef3psqc13"]:focus {
    outline: none;
} 
.stHorizontalBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 0;
}

.checkbox-row .checkbox-label {
    flex-grow: 1;
}